<header>
    <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container_articles">
    <div class="articles_main">
        <app-big-card 
            cardTitle="Darth Vader virou um samurai!" 
            cardDescription="Este Vader usa a força sombria e suas habilidades de ronin" 
            photoCover="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/7162622d-6f03-47ff-a8c5-f5df7d3fc632/danicw2-3611d7b0-4acf-45c0-a527-f3ec019b8537.png/v1/fill/w_1280,h_720,q_80,strp/darth_vader_samurai_by_aste17_danicw2-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvNzE2MjYyMmQtNmYwMy00N2ZmLWE4YzUtZjVkZjdkM2ZjNjMyXC9kYW5pY3cyLTM2MTFkN2IwLTRhY2YtNDVjMC1hNTI3LWYzZWMwMTliODUzNy5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.feKoCNzI8f8eVYyQjJzVHYINFctxX9i6oUURtD6Ngj4"
            >
        </app-big-card>
    </div>
    <div class="articles_others">
        <app-small-card 
            cardTitle="Você escolhe, azul ou vermelho?" 
            photoCover="https://images.hdqwalls.com/wallpapers/star-wars-day-4k-nl.jpg"
            >
        </app-small-card>
        <app-small-card 
            cardTitle="Stormtroopers estão perdendo a cabeça de tanta raiva." 
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtn_-4jPNmh9o2vHKVUf9cWXtFiPoglKgxkA&usqp=CAU"
            >
        </app-small-card>
        <app-small-card 
            cardTitle="Imperio lança campanha para recrutamento de novos troopers" 
            photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRX7nFE3RSaA5_v_BTfTbhE3Yk7Wmx2eSpJCQ&usqp=CAU"
            >
        </app-small-card>
    </div>
</div>
